@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--Dark-Blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 100%;
}

.container {
    background-color: var(--Grayish-Blue);
    padding: 30px;
    border-radius: 20px;
    margin: 0 0 60px;
    position: relative;
}

.container h1 {
    font-size: 16px;
    color: var(--Neon-Green);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 20px;
}

.container p {
    font-size: 28px;
    color: var(--Light-Cyan);
    line-height: 1.5;
    margin: 0 0 20px;
}

.pattern-divider {
    margin: 0 0 20px;
}

.pattern-divider::before {
    content: "";
    width: 40%;
    height: 1px;
    background-color: var(--light-cyan);
    /* right: 1.25rem;
    bottom: 3.8rem;
    position: absolute;
    display: block;
    z-index: 99; */
}

.pattern-divider::after {
    content: "";
    width: 45%;
    height: 1px;
    background-color: var(--light-cyan);
    /* left: 0;
    bottom: 0.74rem;
    position: relative;
    display: block; */
}

hr {
    background-color: var(--Light-Cyan);
    opacity: 0.3;
    margin: -35px 0 20px;
}

.container button {
    display: block;
    padding: 20px;
    background-color: var(--Neon-Green);
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 10px hsl(150, 100%, 66%, 0.3);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--Light-Cyan);
}

.attribution a { 
    color: var(--Neon-Green); 
}

@media (min-width: 500px) {
    .container {
      max-width: 480px;
    }
  }